<section class="section-padding about "> <!--bg-dark-light-->
  <div class="section-title text-center mb-5">
    <h2>The Yamagin Way</h2>
    <p class="text-gray-200">Learn about the mission, people and values that drive Yamagin.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="card bg-dark text-white card-overlay">
          <a href="#">
            <img class="card-img" src="assets/img/us/4.jpg" alt="Card image">
            <div class="card-img-overlay">
              <h3 class="card-title text-white">The Story</h3>
              <p class="card-text text-white">28 Pictures</p>
            </div>
          </a>

        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="card bg-dark text-white card-overlay">
          <a href="#">
            <img class="card-img" src="assets/img/us/2.jpg" alt="Card image">
            <div class="card-img-overlay">
              <h3 class="card-title text-white">The Brand</h3>
              <p class="card-text text-white">8 Pictures</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="card bg-dark text-white card-overlay">
          <a href="#">
            <img class="card-img" src="assets/img/us/1.jpg" alt="Card image">
            <div class="card-img-overlay">
              <h3 class="card-title text-white">The Team</h3>
              <p class="card-text text-white">16 Pictures</p>
            </div>
          </a>


        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="card bg-dark text-white card-overlay">
          <a href="#">
            <img class="card-img" src="assets/img/us/3.jpg" alt="Card image">
            <div class="card-img-overlay">
              <h3 class="card-title text-white">Inventory</h3>
              <p class="card-text text-white">6 Pictures</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>