.home-slider .card-img-top {
  object-fit             : contain;
  width                  : 100%;
  border-top-left-radius : calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  height                 : 300px;
}

.cars .card-img-top {
  object-fit             : cover;
  width                  : 100%;
  border-top-left-radius : calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  height                 : 190px;
}

.ui-datepicker td .ui-state-hover {
  color           : #ffffff;
  background      : #FE0002 !important;
  background-color: #FE0002 !important;
}


.side-cars .cars {
  width : 223px;
  height: 290px;
  float : left;
}

/* #wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  position: fixed !important; 
}


body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

.bg-dark {
  background-color: #272727 !important;
}


::-webkit-scrollbar {
  width: 6px
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background: #d92040
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff
}

.section-title h2:hover {
  text-decoration: solid underline red;
}