---
layout: default
banner: assets/img/houses.jpg
title:
---

<!-- Main Slider With Form -->
<section class="section-padding bg-dark inner-header osahan-slider slider-one">
  <div class="container">
     <div class="row">
        <div class="col-md-12 text-center py-5">
           <h1 class="mt-0 mb-3 text-dark">{{ page.title }}</h1>
           <div class="breadcrumbs">
              <p class="mb-0"><a href="#"><i class="mdi mdi-home-outline"></i> Home</a> / FAQ</p>
           </div>
        </div>
     </div>
  </div>
</section>

<section class="section-padding">
  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
</section>