---
layout: default
banner: assets/img/houses.jpg
title:
---

<!-- Inner Header -->
<section class="section-padding bg-dark inner-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="mt-0 mb-3"> {{page.title}}: Rental</h1>
        <div class="breadcrumbs"></div>
          <p class="mb-0"><a href="#"><i class="mdi mdi-home-outline"></i> Home</a> / {{page.title}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Inner Header -->

<section class="section-padding bg-white">
  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
</section>